<form action="/" method="get">
    <label for="product_name">Product Name: </label>
    <br>
    <input type="text" name="name" id="product_name" placeholder="Product Name">
    <br><br>
    <label for="product_category">Product Category: </label>
    <br>
    <input type="text" name="category" id="product_category" placeholder="Product Category">
    <br><br>
    <label for="product_price">Product Price: </label>
    <br>
    <input type="number" name="price" id="product_price" placeholder="Product Price">
    <br><br>
    <input type="submit" value="Create Product">
</form>